<!DOCTYPE html>
<html>
<head>

    <style>

	.mainForm{
		alignment: center;
        border:solid;
        padding: 11px;
        width: 50%;
        margin:0 auto;

	}
        form {
            display: table;
            padding: 10px;
        }
        #dTo,#dfrom{
            alignment: 20px;
        }


    </style>
    <title>
        MSToolsLE
    </title>
</head>
<body>

<div class="mainForm">
<form  action="http://localhost:5000/Response" method="POST">

    <div class="date">
    <label for="dfrom">From</label>
     <input id="dfrom" name="dfrom" type="datetime" > <br>
    <label for="dTo">To</label>
     <input id="dTo" name="dTo" type="datetime" > <br>
      </div>


     <div class="location">
    Location <select name="state">
                <option value="PA"> PA </option>
                <option value="CO"> CO </option>
                <option value="TX"> TX </option>
                <option value="CA"> CA </option>
                <option value="NY"> NY </option>
             </select>
    <br>
         </div>


    <div id="keyword">
   <!-- Keyword &nbsp;<input class="key" name="keyword" type="text">
    Wight <input class="W" name="wight" type="number"  min="1" max="10"> -->



     </div>

     <input type="submit" id="submit" >
</form>
</div>



<script>
function addTextField(id){

		var container = document.getElementById(id); // container to access to keyword div
		var ulElement = document.createElement('ul'); // here using unordered list to hold the text field element
		container.appendChild(ulElement);
		var hideLink = function(){
			var firstElement = ulElement.firstChild.getElementsByTagName('a')[0];
				firstElement.style.display = (ulElement.childNodes.length==1)?'none':'inline'; // condition to display the delete like only when more than li fields
		}

		var addListElement = function(){
			var liElement = document.createElement('li');
			ulElement.appendChild(liElement); // using list item to hold both keyword and its weight


			var textElement = document.createElement('input');
			var count = ulElement.childElementCount;  // to give unique key to input text to sent POST to the server
            var text = 'Keyword';
            var wordKey = text.concat(count);   // adding number returning from ulElement to string keyword to give unique key e.x keyword1 Keyword2 and so on
	        liElement.appendChild(document.createTextNode(wordKey));
			textElement.setAttribute('type','text');
			textElement.setAttribute('id',wordKey);
			textElement.setAttribute('name',wordKey);
			liElement.appendChild(textElement);

			var textw = 'wieght';
			var wieghtKey = textw.concat(count);
            var numElement = document.createElement('input');
		    liElement.appendChild(document.createTextNode('Wight'));
            numElement.setAttribute('type','number');
            numElement.setAttribute('id',wieghtKey);
            numElement.setAttribute('name',wieghtKey);
            numElement.setAttribute('min','1');
            numElement.setAttribute('max','10');
            liElement.appendChild(numElement);

			var deleteLink = document.createElement('a');
			deleteLink.href = "#";
			deleteLink.appendChild(document.createTextNode('delete'));
			liElement.appendChild(deleteLink);
			deleteLink.onclick = function(){
				ulElement.removeChild(liElement);
				hideLink();
			}
			hideLink();
		}
		addListElement();
		var anchorElement = document.createElement('a');
		anchorElement.href = "#";
		anchorElement.appendChild(document.createTextNode('Add keyword'));
		container.appendChild(anchorElement);
		anchorElement.onclick = addListElement;
		hideLink();


	}
addTextField('keyword');
</script>

</body>
</html>

