<!DOCTYPE html>
<html>
<head>

    <script src="../static/js/receive.js"></script>
    <style>

	.mainForm{
		alignment: center;
        border:solid;
        padding: 11px;
        width: 50%;
        margin:0 auto;

	}
        form {
            display: table;
            padding: 10px;
        }
        #dTo,#dfrom{
            alignment: 20px;
        }


    </style>
    <title>
        MSToolsLE
    </title>
</head>
<body>

<div class="mainForm">
<form  action="http://localhost:5000/Response" method="POST">

    <div class="date">
    <label for="dfrom">From</label>
     <input id="dfrom" name="dfrom" type="datetime" > <br>
    <label for="dTo">To</label>
     <input id="dTo" name="dTo" type="datetime" > <br>
      </div>


     <div class="location">
    Location <select name="state">
                <option value="PA"> PA </option>
                <option value="CO"> CO </option>
                <option value="TX"> TX </option>
                <option value="CA"> CA </option>
                <option value="NY"> NY </option>
             </select>
    <br>
         </div>


    <div id="keyword">
    Keyword &nbsp;<input class="key" name="keyword" type="text">
    Wight <input class="W" name="wight" type="number"  min="1" max="10">
         <input type="submit" id="submit" >


     </div>


</form>
</div>



<script>
function addTextField(id){
		var colors = new Array('#660000','#33ff00','#0066ff','#cc3399','#9966ff');
		var container = document.getElementById(id);
		var ulElement = document.createElement('ul');
		container.appendChild(ulElement);
		var hideLink = function(){
			var firstElement = ulElement.firstChild.getElementsByTagName('a')[0];
				firstElement.style.display = (ulElement.childNodes.length==1)?'none':'inline';
			//for(var i = 0 ; i <ulElement.childNodes.length; i++)
				//ulElement.childNodes[i].style.color = colors[i%5];
		}
		var addListElement = function(){
			var liElement = document.createElement('li');
			ulElement.appendChild(liElement);
			var textElement = document.createElement('input');
            var numElement = document.createElement('input');
	        liElement.appendChild(document.createTextNode('keyword'));
			textElement.setAttribute('type','text','id','keyword', 'name','keyword');
			liElement.appendChild(textElement);

		    liElement.appendChild(document.createTextNode('Wight'));
            numElement.setAttribute('type','number');
            liElement.appendChild(numElement);

			var deleteLink = document.createElement('a');
			deleteLink.href = "#";
			deleteLink.appendChild(document.createTextNode('delete'));
			liElement.appendChild(deleteLink);
			deleteLink.onclick = function(){
				ulElement.removeChild(liElement);
				hideLink();
			}
			hideLink();
		}
		addListElement();
		var anchorElement = document.createElement('a');
		anchorElement.href = "#";
		anchorElement.appendChild(document.createTextNode('Add keyword'));
		container.appendChild(anchorElement);
		anchorElement.onclick = addListElement;
		hideLink();


	}
{#   addTextField('keyword');#}
</script>

</body>
</html>

